@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to blabn E-commmerce</h1>
   </div>


    <div class="container text-center">
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <a class="btn btn-outline-primary me-2" asp-area="" asp-controller="User" asp-action="Signin">Sign in</a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-outline-secondary" asp-area="" asp-controller="User" asp-action="Signup">Sign up</a>
            </li>
        </ul>
    </div>
